body {
  background-color: #e3f2fd; /* Light blue */
  font-family: Arial, sans-serif;
}

header {
  background-color: #f44336; /* Red */
  padding: 20px;
  color: #ffffff; /* White */
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav a {
  color: #ffffff; /* White */
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #ffffff; /* White */
  color: #f44336; /* Red */
}

main {
  padding: 20px;
}

h2, h3 {
  color: #f44336; /* Red */
}

code {
  background-color: #ffffff; /* White */
  padding: 5px;
}

img {
  max-width: 100%;
  margin-top: 20px;
}

footer {
  background-color: #f44336; /* Red */
  padding: 20px;
  color: #ffffff; /* White */
  text-align: center;
}
